<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
window.onload = function () {
var dataPoints = [];
var chart = new CanvasJS.Chart("chartContainer",{
	animationEnabled: true,
    theme: "light2",
    title:{
		text:"Price History",
        fontSize: 25,
	},
	data: [{
		type: "line",
		dataPoints : dataPoints,
	}]
});
$.getJSON("https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=60&interval=daily", function(data) {
	$.each(data, function(key, value){
		dataPoints.push({x: value[0][0], y: parseInt(value[0][1])});
	});
	chart.render();
});
}
</script>

</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>
